extends layout
block content
  div.main.clearfix
    div.content.left
        ul.list
          each article in articles
            li
              div.article
                h2.title 
                  a(href="/blog/"+article.id)= article.title
                div.info
                  span.time= article.time
                  - if(article.tag)
                    span.icon-bookmark
                    span.tag.item= article.tag
                  - if(article.catagory)
                    span.icon-bookmark
                    span.catagory.item= article.catagory
                  - if(article.type)
                    span.icon-bookmark
                    span.type.item= article.type
                div.main!= article.blog
                div.link
                  a(href='/blog/'+article.id).more READ MORE
        include common/pagination
    include common/aside